
.photo {
  float: left;
  height: 90px;
  width: 90px;
  border-radius: 90px;
  border: 3px solid #073763;

}

.container{
  font-family: 'Roboto', sans-serif;
  font-size: 14px ;
  color:#073763; 
}

.contact{
  display: block;
  margin: 4px 0px 4px 0;
}

.name{
  display: block;
  font-size: 16px;
  margin: 4px 0px -2px 0;
  font-weight: bold;
}

.social{
  display: block;
  margin:  4px 0px 4px 0;
  padding-left: 0px;
}